{% extends 'base.html' %}

{% block content %}

<h1>Chris & Haley's Shelter</h1>
    <ul>
        {% for pet in pets%}

            <li><a href="/{{ pet.id }}" ><img src="{{pet.photo_url}}" alt="">{{pet.name}}{% if pet.available %}<span><b> is available!{% endif %}</b></span></a></li>

        {% endfor %}
    </ul>
    <a href="/add" class="btn btn-success">Add a Pet</a>

<h2>Random Petfinder Pet</h2>
    
<p><img src="{{pet_finder.photos[0].small}}" alt="">{{pet_finder.name}}</p>
{% endblock %}